# Ignore Gradle project-specific cache directory
.gradle
# Ignore Gradle build output directory
build
dist
# Ignore node specific library
node_modules
# Ignore tets report specific library
allure-reports